################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/ChessGameAnalysis/v15/.suo
/.vs/ChessGameAnalysis/v15/Server/sqlite3
/ChessGameAnalysis/obj
.vs
